process {
     withName: 'run_nlrtracker' {
     cpus = 4
     memory = '12 GB'
     conda = 'nlrtracker'
     container = 'torisauve/nlrtracker:local_image'
     containerOptions = '--platform linux/amd64'
      
   }
     withName: 'run_resistify' { 
     conda = 'resistify'
     container = 'torisauve/resistify'
     containerOptions = '--platform linux/amd64'
   }
    
     withName: run_annotator {
     cpus = 4
     memory = '12 GB'
     container = 'torisauve/nlrannotator:version4'
     containerOptions = '--platform linux/amd64'
    
   }
}

profiles {
    docker {
    
         docker.enabled = true
         runOptions = '--platform linux/amd64'
         process.executor = 'local'
    }

}
