process {
     withName: 'run_nlrtracker' {
     conda = 'nlrtracker'
     container = 'torisauve/nlrtracker' 
   }
     withName: 'run_resistify' { 
     conda = 'resistify'
     container = 'torisauve/resistify'
   }
     withName: 'python_task_nlrtracker' {
     container = 'bayesimpact/pandas-base'
   }
     withName: 'python_task_resistify' {
     container = 'bayesimpact/pandas-base'
   }
}
docker {
    
    enabled = true
    runOptions = '--platform linux/amd64'
    
}


