params {
    
    ipr_data_host = null
    ipr_data_container = "/opt/interproscan-5.53-87.0"
    slurm_account = null 
    
}



process {
    resourceLimits = [
        memory: 3000.GB,
        cpus: 96,
        time: 7.d
    ]
    executor       = 'slurm'
    clusterOptions = '--export=NONE --account=${params.slurm_account}'
    maxRetries     = 3
    errorStrategy  = { task.attempt <= 3 ? 'retry' : 'finish' }
    cache          = 'lenient'
    
    

     

     withName: 'run_nlrtracker' {
     conda = 'nlrtracker'
     container = 'torisauve/nlrtracker:slimmed_23' 
     cpus = 16
     memory = '64GB'
     time = '48h'
   }
    withName: 'run_resistify' { 
     conda = 'resistify'
     container = 'torisauve/resistify'
     cpus = 4 
     memory = '16GB' 
     time = '24h' 
   }
   withName: 'run_nlrannotator' {	
     container = 'torisauve/nlrannotator:version4'
     cpus = 4 
     memory = '16GB' 
     time = '24h' 
   }

}     
profiles {
    docker {
    
         docker.enabled = false
         runOptions = '--platform linux/amd64'
         process.executor = 'local'
    }


    singularity {

         singularity.enabled = true
         singularity.runOptions = "-B ${params.ipr_data_host}:${params.ipr_data_container}/data"
         
         
   }


}
